/** motw-app.css **/

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.example-header {
  background-color: #ECEFF1;
  padding: 2em;
}

.heading-1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

.subheading-1 {
  color: #455A64;
}

.example-header-desc {
  color: #263238;
}

.example-main {
  margin: 0.75em 0;
  padding: 2em;
}

.example-main .parameter {
  height: 2.4em;
}

.example-main .parameter .label {
  display: inline-block;
  width: 160px;
  margin-right: 20px;
}

.example-main .parameter input {
  width: 250px;
  margin-right: 20px;
}

.example-main .parameter .value {
  display: inline-block;
  width: 250px;
}

dt, dd {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}

dt {
  font-size: 1.4em;
  margin-bottom: 0.25em;
}

dd {
  font-size: 0.9em;
  margin-bottom: 1.8em;
}

.example-footer {

}

a {
  text-decoration: none;
}

a:visited, a:active {
  color: #FF6D00;
}

a:hover {
  text-decoration: underline; 
}