body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  color: #263238;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

.info {
  padding: 40px;
}

.workspace {
  padding: 15px;
  border-top: 1px solid #CFD8DC;
}

#code-viewer {
  display: none;
  position: absolute;
  width: 45%;
  top: 50px;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: #ECEFF1;
  border: 1px solid #90A4AE;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
}

code {
  font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
  color: #e91e63;
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -.044em;
  line-height: 56px;
}

h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -.026em;
  line-height: 50px;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #DD2C00;
}

a:hover {
  text-decoration: underline;
  color: #FF6E40; 
}

.info .description {
  margin-top: 40px;
  font-size: 1.2em;
}

.info ol, .info ul {
  padding: 0 30px;
}

.info ol li, .info ul li {
  line-height: 1.8em;
}

.param-divider {
  display: inline-block;
  margin: 0 10px;
}